{% extends 'base.html' %}
{% load static %}
{% block title %}About{% endblock %}

{% block content %}
<div class="container-fluid">
  <!-- Spacer Start-->
  <div class="row">
    <div class="col" style="height: 13vh;">
    </div>
  </div>
  <!-- Spacer End -->

  <div class="row">
    <div class="col headabout">
      <h2 class="heading2"><b>About Pandit Ji and Puja Services</b></h2>
    </div>
  </div>

  <div class="row">
    <div class="col">

      <!-- ======= About Section ======= -->
        <div class="container-fluid" >

          <div class="row">
            <div class="col-lg-6" >
              <div class="container">
                <div class="row">
                  <div class="col mt-5">
                    <img class="img-fluid" src="{% static 'img/panditji.webp' %}" alt="" width="80%" style="border-radius: 20px;border: 2px solid #ffbc00;">
                  </div>
          
                </div>
                
            <div class="row pt-5">
              <div class="col">
                <p>
                  <b class="text-danger fs-5 text">अनुष्ठान करने वाले पंडितजी का नाम :-</b><br>
                  ______________________
                <br><br>
                  पं ० श्री नर्मदा शंकर त्रिपाठी<br>
                  पं ० शिव लाल अवस्थी<br>
                  पं ० सुशील कुमार त्रिपाठी<br>
                  पं ० श्रीचंद्र अवस्थी<br>
                  पं ० रवि मालवीय <br>
                  <br><br>
                </p>
              </div>
              <div class="col">
                <p>
                  <b class="text-danger fs-5 text"> निवेदक:-</b><br>
                  ______________________
                  <br><br>
                  श्री राम बाबू केशरवानी<br>
                  श्री अमर नाथ सोनी <br>
                  श्री बद्री प्रसाद सोनी <br>
                  श्री दिनाकर प्रसाद अवस्थी <br>
                  श्री गण्या सिंह<br>
                  श्री भीकम चन्द्र सेठिया<br>
                  श्री रमेश चन्द्र सिन्धी <br>
                  श्री द्वारा प्रसाद गुप्ता<br>
                  श्री राधे सेठ <br>
                  श्री पुन्नू बरनवाल <br>
                  श्री बढ़ी प्रसाद सोनी<br>
                  <br><br>
                </p>
         
              </div>
            </div>
              </div>
           
              
            </div>
            <div class="col-lg-6 mt-4" >
              <h3 class="text-center text-danger fs-2 py-3"><b> ॥ दो शब्द || </b></h3>
              <br>
              <p class="">
                गृहस्थ सन्त गोलोकवासी पण्डित स्वर्गीय श्री राम नाथ अवस्थी लोक कल्याण के लिए पौरोहित्य कर्मकाण्ड के साथ
                ज्योतिष फलादेश किया करते थे उनके मार्ग दर्शन में किये गये जप - पूजा ,
                अनुष्ठान द्वारा उन्हें मनोवान्छित फल की प्राप्ति होती थी ।
                उनका जप पूजन अनुष्ठान कभी निष्फल नहीं हुआ । उन्ही के पद चिन्हों पर चलकर उनके पुत्र प्रभाकर " महराज " लोक
                कल्याण के लिये सतत् प्रयत्नशील है ।

                <br><br>

                यह सत्य है कि ग्रहों की प्रतिकूलता में नाना प्रकार के विघ्न , बाधा , कष्ट , रोग , शोक , भय उत्पन्न होते
                हैं जो व्यक्ति के प्रगति में बाचक होते हैं । यदि ग्रहों की इस प्रतिकूलता का ज्ञान तथा उपचार हो जाए तो
                सभी रूके कार्य स्वतः सम्पादित होने लगते हैं ।

                <br><br>
                अतः व्यक्ति को चाहिए कि संकट के क्षणों में अपनी धैर्यता न छोड़े तथा विद्वान पंडित से इसका निराकरण करा कर
                संकट से बच सकते हैं ।
                <br><br>
                पं ० प्रभाकर महराज को इस विद्या में निपुणता प्राप्त है । इस पुस्तक के प्रकाशन पर मेरी हार्दिक
                शुभकामनायें
                <br><br>
              </p>

              <div class="container mobno" >
               <h3 class="text-center text-primary py-3"><b>|| Two words ||</b> </h3>
              <p>
               
                <br>
                The householder Saint Golokvasi Pandit Late Shri Ram Nath Awasthi used to give astrological predictions along with priestly rituals for the welfare of the people and through the chanting, worship and rituals done under his guidance, they used to get the desired results. His chanting and worship rituals never failed. Following in his footsteps, his son Prabhakar "Maharaj" is continuously striving for public welfare.
                <br><br>
                It is true that due to unfavorable planets, various types of obstacles, hindrances, sufferings, diseases, sorrows and fears arise which hinder a person's progress. If this adverse effect of the planets is known and treated, then all the pending tasks start getting completed automatically.
                <br><br>
                Therefore, a person should not lose his patience in moments of crisis and can avoid crisis by getting it resolved from a learned Pandit.
                <br><br>
                Pandit Prabhakar Maharaj has expertise in this knowledge. My heartiest congratulations on the publication of this book.
            
            </div>


            <div class="row">
              <div class="col pt-4">
                  
             <p class="fs-5 text">
             <b class="me-3"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512">
              <path d="M0 64C0 28.7 28.7 0 64 0H256c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V64zm64 96v64c0 17.7 14.3 32 32 32H224c17.7 0 32-14.3 32-32V160c0-17.7-14.3-32-32-32H96c-17.7 0-32 14.3-32 32zM80 352a24 
              24 0 1 0 0-48 24 24 0 1 0 0 48zm24 56a24 24 0 1 0 -48 0 24 24 0 1 0 48 0zm56-56a24 24 0 1 0 0-48 24 24 0 1 0 0 48zm24 56a24 24 0 1 0 -48 
              0 24 24 0 1 0 48 0zm56-56a24 24 0 1 0 0-48 24 24 0 1 0 0 48zm24 56a24 24 0 1 0 -48 0 24 24 0 1 0 48 0zM128 48c-8.8 0-16 7.2-16 16s7.2 16 16
               16h64c8.8 0 16-7.2 16-16s-7.2-16-16-16H128z"/>
              </svg> </b> 
              
             <b>Mob:</b> 
             <b class="text-danger">7897849158 | 
              9389796500</b>
         </p>
              </div>
            </div>


          </div>

        </div>

    </div>
  </div>

</div>


{% endblock content %}