{% extends 'base.html' %}
{% load static %}
{% block title %}Havan{% endblock %}

{% block content %}
  <!-- Spacer Start-->
  <div class="container-fluid">

  <div class="row">
    <div class="col" style="height: 13vh;">
    </div>
  </div>
  <!-- Spacer End -->

  <div class="row">
    <div class="col headabout">
      <h2 class="heading2"><b>DESTINATION WEDDING</b></h2>
    </div>
  </div>
  <!-- Spacer Start-->
  <div class="row">
    <div class="col" style="height: 4vh;">
    </div>
  </div>
  <!-- Spacer End -->


  <div class="row">
    <div class="col">
  <!-- ======= Services Section ======= -->

    <div class="container " data-aos="fade-up">

      <div class="row col_reverse">
  
        <div class="col-md-6 col-sm-12 ">
      
          <p class="py-2">An opportunity for a couple to hold a wedding in a romantic location without spending a fortune, a destination wedding removes many of the stresses of planning a regular wedding. Every wedding detail can be arranged at a resort destination to suit your taste from afar. After the wedding ceremony, the celebration can last for hours or even days, with meals and outings arranged for you and your guests.

            A destination wedding can be as cool and casual as you like. Want to wear flip-flops or barefoot and dig your toes into the sand at a beach wedding? You got it! No heavy brocade wedding gowns or stultifying tuxedoes are required, either. Make the ceremony as short as you like, then strip down to your bathing suits and swim away. Or head to a patio, and start the music and champagne toasts for a party that can last until the stars come out.</p>
      
          <p><b>Book Online Pandit Ji For Destination Wedding. Call Or Whatsapp on:</b></p>
          
          <p class="fs-5 text">
            <b class="me-3"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512">
             <path d="M0 64C0 28.7 28.7 0 64 0H256c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V64zm64 96v64c0 17.7 14.3 32 32 32H224c17.7 0 32-14.3 32-32V160c0-17.7-14.3-32-32-32H96c-17.7 0-32 14.3-32 32zM80 352a24 
             24 0 1 0 0-48 24 24 0 1 0 0 48zm24 56a24 24 0 1 0 -48 0 24 24 0 1 0 48 0zm56-56a24 24 0 1 0 0-48 24 24 0 1 0 0 48zm24 56a24 24 0 1 0 -48 
             0 24 24 0 1 0 48 0zm56-56a24 24 0 1 0 0-48 24 24 0 1 0 0 48zm24 56a24 24 0 1 0 -48 0 24 24 0 1 0 48 0zM128 48c-8.8 0-16 7.2-16 16s7.2 16 16
              16h64c8.8 0 16-7.2 16-16s-7.2-16-16-16H128z"/>
             </svg> </b> 
             
            <b>Mob:</b> 
            <b class="text-danger">7897849158 | 
             9389796500</b>
        </p>
        </div>

        <div class="col-md-6 col-sm-12 ">
      
          <div class="container">
            <div class="row">
              <div class="col text-center mb-4">
                <img src="{% static 'img/destinationwed.webp' %}"   style="height: 100% !important; width: 100%; border-radius: 24px;">
              </div>
            </div>
          </div>
        
        </div>

      </div>
      

      </div>

      <!-- Spacer Start-->
      <div class="row">
        <div class="col" style="height: 6vh;">
        </div>
      </div>
      <!-- Spacer End -->

    </div>


    </div>
  </div>

</div>


{% endblock %}